.donutLabel{
    font-size: 16px;
    font-weight: bold;
    fill: white;
}

.highlightedBackground{
    fill: var(--color-icon-bg);
    opacity: 0;
}

.level2{
    opacity:0;
}

.chainCo2_line{
    opacity: 0;
}

#chain_co2{
    color: white;
    padding: 350px 0 0 0;
}

#chain_co2 h2{
    width: 70%;
    text-align: center;
    line-height: 1.3;
    margin: auto;
}

#chain_co2 .d3-tip-background{
    fill: --var(--color-dark1);
    opacity: 0.7;
}

#chain_co2 .d3-tip{
    visibility: hidden;
}

#chain_co2 .d3-tip text{
    fill: white;
}

#chain_co2 p{
    font-size: 1.3em;
    text-align: justify;
    line-height: 1.3;
    float: right;
    width: 600px;
    padding: 30px;
    margin-right: 200px;
    background-color: var(--color-dark1);
}

#chain_co2 h2.sticky{
    position: sticky;
    top: 100px;
}

#chain_co2 .informations.sticky{
    position: sticky;
    top: 300px;
    width: 100%;
}

#chain_co2 .informations.sticky:after {
    content: "";
    display: table;
    clear: both;
}

#chain_co2 .informations {
    width: 100%;
    margin: 0 auto 0px auto;
    z-index: 100;
    opacity:0;
    pointer-events: none;
    z-index: -1;
}

#chain_co2 .chart{
    height: calc(400vh);
    opacity: 0;
}

#chain_co2 svg.sticky{
    position: sticky;
    top: 0;
}

#chain_co2 .fadeout{
    transition: 0.4s all ease-in;
    opacity: 0;
}

#chain_co2 .fadein{
    transition: 0.5s all ease-in;
    opacity: 100;
}

#chain_co2 svg line {
    stroke: rgb(115, 115, 115);
    stroke-dasharray: 13px;
    stroke-width: 8px;;
}


@media only screen and (max-width: 768px) {
    #chain_co2 .informations {
      width: 90%;
    }

    .donutLabel{
        font-size: 12px;
    }
}

@media only screen and (max-height: 700px) {
    #chain_co2 .informations {
      margin-bottom: 500px;
    }
}
