#food_co2 {
    text-align: center;
}

#food_co2 svg {
    /* max-width: 60%; */
    width: 100%;
    max-height: 3500px;
    /* outline: 1px solid #fff; */


}

#food_co2 svg g.figure + text {
    font-size: 2.7em;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}

#food_co2 svg g.figure text {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
