#global_warming {
    background-color: var( --color-light2);
    padding: 30px;
}

#global_warming > svg{
    margin-left: 5%;
    margin-top: 10%;
    float: left;
    height: 70vh;
}

#global_warming > svg.sticky{
    position: sticky;
    top: 100px;
}

#global_warming p {
    width: 40%;
    font-size: 20px;
    margin: 45vh 20px 45vh 60%;
    /* margin-left: 50%; */
    /* transform: translate(-50%); */
}

.light2background{
    background-color: var( --color-light2);
}