:root {
    --color-dark-land: #260107;
    --color-main-land: #AD1C34;
    --color-light-land: #E88898;
    --color-iconfill-light: #630F1D;
    --color-iconfill-dark: #701322;
}

#land {
    color: white;
    text-align: justify;
    padding: 200px 50px 300px;
    /* background-color: var(--color-dark2); */
}

#land h1 {
    text-align: center;
    width: 100%;
}

#land h1.sticky {
    top: -1px;
    z-index: 10;
}

#land #countryTitle {
    padding: 10px;
    background-color: var(--color-main-land);
    margin-left: 5px;
}

#land>h1:first-child {
    line-height: 1.9;
    margin-bottom: 500px;
}

#land #to_stick {
    position: sticky;
    top: 140px;
}

#land_charts {
    display: table-cell;
    width: 50%;
    max-width: 600px;
}

#land .icon {
    opacity: 0;
    transition: 0.4s;
}

#land .icon.show {
    opacity: 1;
}

#land svg {
    width: 100%;
}

#land .legend a {
    border: 1px solid var(--color-light2);
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px 20px 0 0;
    vertical-align: text-bottom;
}

#land .legend a#color_world {
    background-color: var(--color-main-land);
}

#land .legend a#color_country {
    background-color: var(--color-dark-land);
}

#land #right_col {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}

#land #right_col p {
    margin: 50px 0;
    text-align: left;
}

#land svg image.icon {
    pointer-events: none;
}

#land #text_land {
    margin: auto auto;
    width: 60%;
    margin-bottom: 600px;
}

#land #text_land:after {
    content: "";
    display: table;
    width: 100%;
    height: 10px;
    margin-top: 500px;
}

#land #text_land p {
    text-align: center;
    transition: all 0.5s ease-in;
    position: sticky;
    top: 200px;
    margin-top: 1000px;
    opacity: 0;
}

#land #text_land p.fadeIn {
    opacity: 1;
}

#land p {
    margin: 15px;
}

#country, #country2, #value {
    font-size: 2.0rem;
    background-color: var(--color-dark1);
    padding: 5px 16px;
    line-height: 4rem;
    white-space: nowrap;
    vertical-align: middle;
}

#land text.anchor_middle {
    text-anchor: middle;
}

#land #div_columns {
    margin: auto;
    visibility: hidden;
    width: fit-content;
}

#land #div_columns p {
    line-height: 1.3rem;
}

#land #compare_text p {
    margin: 20px auto 0;
    width: 80%;
    text-align: center;
}

#land .display#div_columns {
    visibility: visible;
}

#land #columns_percentage {
    font-size: 3rem;
}

#land #columns {
    text-transform: uppercase;
}

#land #details {
    width: 70%;
    margin: auto;
    font-size: 1.1rem;
    clear: both;
}

#land #details p {
    font-size: 0.8rem;
    text-align: left;
    line-height: 1.6em;
}

#land #charts {
    display: table;
}

/* Search bar */

.search {
    position: relative;
}

.search button {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    border: none;
    outline: 0;
    flex-basis: 40px;
    cursor: pointer;
    transition: 0.2s;
    height: 60px;
    width: 32px;
    background-color: transparent;
    padding: 15px 20px;
}

#land .search button:hover #search_icon {
    fill: var(--color-dark1);
}

/* search icon */

#land .search button #search_icon {
    width: unset;
    height: 100%;
    fill: var(--color-light3);
}

.search_field:focus~.search_btn #search_icon {
    fill: var(--color-dark1)!important;
}

/* credits for this input css : https://codepen.io/lucasyem/pen/ZEEYKdj */

.search_group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
}

.search_field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid var(--color-light3);
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.search_field::placeholder {
    color: transparent;
}

.search_field:placeholder-shown~.search_label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.search_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-light3);
    opacity: 0.9;
    pointer-events: none;
}

.search_field:focus {
    padding-bottom: 6px;
    /* font-weight: 700; */
    border-width: 3px;
    border-image: linear-gradient(to right, var(--color-light3), var(--color-dark1));
    border-image-slice: 1;
}

.search_field:focus~.search_label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--color-light3);
    opacity: 1;
    /* font-weight: 700; */
}

/* reset input */

.search_field:required, .search_field:invalid {
    box-shadow: none;
}

/* Flex display */

#land .row {
    display: flex;
}

#land .row>.col {
    flex: 1;
}

#land .row>.half_col {
    flex: 0.5;
}

/* autocomplete */

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

.detailedItem {
    background: var(--color-dark1);
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

/* MOBILE */

@media screen and (max-width:1000px) {
    #land .sticky {
        top: 35%;
    }
    #land {
        padding: 50px 10px;
    }
}

@media screen and (max-width:980px) {
    #land #land_charts {
        display: table-cell;
        width: 50%;
        max-width: 600px;
        margin: auto;
    }
    #land #right_col {
        width: 70%;
        margin: auto;
        display: block;
        vertical-align: top;
    }
    #land #charts {
        display: block;
    }
    #land #details {
        margin: 100px auto 400px auto;
    }
    #land #text_land p {
        margin-top: 1100px;
    }
    #land #div_columns{
        margin-top: 50px;
    }
}