:root {
        --color-dark3: #160508;
        --color-dark2: #581420;
        --color-dark1: #992437;
        --color-main: #db334f;
        --color-light1: #e67084;
        --color-light2: #f1adb9;
        --color-light3: #fbebed;
        --color-icon-bg: #a8243a;
        --color-icon-hover: #6b101f;
}

body {
        font-family: "bavro";
        background-color: var(--color-main);
}

.d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 2px;
        pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        color: rgba(0, 0, 0, 0.8);
        position: absolute;
        pointer-events: none;
}

.row {
        display: flex;
}

.row>.col {
        flex: 1;
}
.row>.half_col {
        flex: 0.5;
}